@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

body{
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}
.container{
    width:device-width;
}
.bkgd-Black{
    background-color: #000000;
}
.con-in{
    padding: 0 312px;
    min-width: 1296px;
}
.nav-in{
    min-width: 1296px;
    padding: 40px 312px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}
.nav-in p{
    color:#D1D1D1;
}
.header-in{
    margin: 0 auto;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-img img{
    display: block;
}
.header-text{
    width: 636px;
    margin-left: 24px;
}
.header-text p{
    color:#D1D1D1;
    font-size: 64px;
}
.header-text h1{
    color:#00FFA3;
    font-size: 128px;
    text-align: right;
}
.header-text button{
    margin-left: auto;
}
.header-con-btn{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
}
.header-con-btn p{
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    font-size: 16px;
}
.header2{
    background-image:url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.header2{
    padding:160px 0;
}
.header2-text h2{
    color:#D1D1D1;
    font-size: 64px;
}
.header2-text p{
    color:#D1D1D1;
    font-size: 24px;
}
.header2-in-img{
    margin-top: 32px;
}
.header2-in{
    display: flex;
}
.header2-img{
    display: flex;
}
.header2-img img{
    margin-left: 24px;
}
.about-in{
    margin: 160px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboud-card-list{
    box-sizing: border-box;
    max-width: 636px;
    gap: 24px;
    margin-bottom: 8px;
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.card-text-set{
    font-size: 20px;
}
.card-set{
    box-sizing: border-box;
    width: 306px;
    padding: 16px 16px;
}
.about-title{
    max-width: 526px;
}
.about-title h4{
    font-size: 64px;
    color:#000000
}
.about-title p{
    font-size: 24px;
    color:#15161D
}

.icon-section{
    background-color: #000000;
    padding: 96px 0;
}
.icon-section-in{
    display: flex;
    justify-content:space-between;
}
.contact{
    color:#FFFFFF;
    font-size: 64px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.contact p{
    margin-right: 16px;
}
.icon{
    display: flex;
    gap:20px
}

.projects-in{
    margin: 0 auto;
}
.p-title{
    width: 746px;
    margin-left: auto;
}
.projects{
    padding: 160px 0;
}
.p-title h5{
    text-align: left;
    font-size: 64px;
}
.p-box{
    width: 1296px;
    display: flex;
    justify-content: center;
}
.p-box-img{
    margin-right: 24px;
}
.p-box-img img{
    display: block;
}

.con-box-img-in{
    margin-right: 24px;
}
.con-box-img-in img{
    display: block;
}
.con-box{
    display: flex;
}
.con-box-text{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.con-box-text-in{
    margin-right: auto;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
}
.con-box-text-in span{
    color: #FFFFFF;
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.con-box-img{
    display: flex;
    margin-top: 24px;
    gap:24px;
}
.con-box-img img{
    display: block;
}
.con-box-text-in{
    display: flex;
}
.footer{
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    padding: 40px 0;
}